
@if (Context.User.Identity.Name == null) {

    <div>
        <ul class="nav navbar-nav navbar-right @(ViewData["Title"].ToString().Contains("Login") ? "sidebar-active" : "")">
            <li>
                <a class="nav-link align-middle px-0 text-white" asp-controller="Account" asp-action="Login" style="color:cornflowerblue!important"><i class="bi bi-box-arrow-in-right"></i> Войти</a>
            </li>
        </ul>
    </div>

}
else {
    <div class="dropdown side-fixed-account">

        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/default_avatar.png" alt="" width="64" height="32" class="rounded-circle">
            <strong>@Context.User.Identity.Name</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            @*         <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li> *@
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-in-right"></i> Выйти</a></li>
        </ul>
    </div>
}


