
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: darkblue; font-weight:400">Добро пожаловать в систему управления производством "ИОНОС УП"</h1>

    <form asp-action="Index">
@*         <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name="checkMode" value="true" id="switchHome" @(Model.IsDron ? "checked" : "")>
        </div> *@
        <input type="hidden" name="appMode" value="@(ViewData["AppMode"]?.ToString() == "LampMode" ? "DronMode" : "LampMode")" />
        <button type="submit" class="button" id="switchHome">
            @if (ViewData["AppMode"].ToString() == "LampMode") {
                <div class="button-top">Z-режим</div>
            } else {
                <div class="button-top">Светильники</div>
            }
            <div class="button-bottom"></div>
            <div class="button-base"></div>
        </button>
    </form>

    <div id="homeDiv1" style="display: @(ViewData["AppMode"]?.ToString() == "DronMode" ? "none" : "block");">
        <h3>Освещаем путь в будущее...</h3>
@*         <p><a href="https://ionos.ru/">Посетить сайт компании - Светотехнический завод ООО "ИОНОС".</a>.</p> *@
        <a href="#"><img src="~/images/ionos_logo.png" width="340px"></a>
    </div>
    <div id="homeDiv2" style="display: @(ViewData["AppMode"]?.ToString() == "LampMode" ? "none" : "block");">
        <h3>Zа Победу, Zа Россию, Za Справедливость...</h3>
        <img src="~/images/dron_russia.jpg" width="380px" style="border-radius:8px"  alt="">
    </div>



@*     <script>
        const homeDiv1 = document.getElementById("homeDiv1");
        const homeDiv2 = document.getElementById("homeDiv2");
        document.querySelector('#switchHome').addEventListener('click', function (e) {
            if (homeDiv1.style.display === "none" || homeDiv1.style.display === '') {
                homeDiv1.style.display = "block";
                homeDiv2.style.display = "none";     
            } else {
                homeDiv1.style.display = "none";
                homeDiv2.style.display = "block";
            }
        });
    </script> *@
</div>
