@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: darkblue; font-weight:400">Добро пожаловать в систему управления производством "ИОНОС УП"</h1>
    <h4>Освещаем путь в будущее...</h4>
    <p><a href="https://ionos.ru/">Посетить сайт компании - Светотехнический завод ООО "ИОНОС".</a>.</p>
</div>
