@model IonosLedWebMvc.Ver2.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1></h1>

<hr />
<div class="container" style="width:30%;margin-top:10em;">
    <div class="text-center">
        <form asp-action="Login" method="post" class="form-signin">
            <h2 class="h3 mb-3 font-weight-normal">Вход для администратора</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserNameOrEmail" class="control-label"></label>
                <input asp-for="UserNameOrEmail" class="form-control" />
                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mt-10">
                <div class="checkbox mb-3">
                    <label>
                        <input asp-for="IsSavedDession"> @Html.DisplayNameFor(model => model.IsSavedDession)
                    </label>
                </div>
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
            <div class="mt-10">
                <a asp-action="Register" class="btn btn-secondary">Зарегистрироваться</a>
            </div>
            <div class="mt-10">
                <a asp-controller="Home" asp-action="Index" >Вернуться на главную</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

