@model IonosLedWebMvc.Ver2.Dtos.LampFilterDto

@{
    ViewData["Title"] = "SalaryView";
}

<h2>Выпущенные светильники</h2>

<hr />
<h5>Фильтры для выборки выпущенных светильников:</h5>

<form asp-action="RunFilter" class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="col-auto">
        <label asp-for="EmployeeName" class="control-label"></label>
        <select asp-for="EmployeeName" class="form-select">
            @foreach (string emp in ViewBag.AllEmployees) {
                <option value="@emp">@emp</option>
            }
        </select>
    </div>

    <div class="col-auto">
        <label asp-for="ModelName" class="control-label"></label>
        <select asp-for="ModelName" class="form-select">
            @foreach (string lampModel in ViewBag.AllModels) {
                <option value="@lampModel">@lampModel</option>
            }
        </select>
    </div>


    <div class="col-auto" style="margin-top: 28px">
        <button type="submit" class="btn btn-primary">Применить</button>
    </div>
 </form>


<hr />

@if(Model.StartDate > Model.EndDate) {
    <h4 style="color: red">Некорректные значения фильтра. Дата начала периода не может быть больше даты конца периода.</h4>
}

@if (Model.EndDate - Model.StartDate > new TimeSpan(92, 0, 0, 0)) {
    <h4 style="color: red">Некорректные значения фильтра. Период не должен превышать 3 месяцев!</h4>
}

