@using System.Text
@model Dictionary<DateTime, int>

@{
	ViewData["Title"] = "LineGraphStatistics";
}

@* <script src="https://www.gstatic.com/charts/loader.js"></script> *@

@{
	string arrAsStr = "";
	if (Model == null || Model.Count == 0) {
		arrAsStr = "[0, 0]";
	} else {
		var sb = new StringBuilder();
		foreach (var item in Model) {
			sb.Append($"[new Date({item.Key.Year}, {item.Key.Month}, {item.Key.Day}), {item.Value}],");
		}
		arrAsStr = sb.ToString();
	}
}

<div class="container">
	<div class="text-center">
		<h1 class="display-4" style="color: darkblue; font-weight:400">Динамика производства</h1>
		<br />
			
		<h4>Временной интервал(до текущего числа)</h4>
		<form asp-action="Index">
			<div class="slidecontainer">
				<input type="range" min="0" max="8" value="@ViewData["SelectedRange"]" class="slider" id="myRange" name="selectedRange">
				<span id="demo">0</span>
				<span id="demo" class="span-margin">1 неделя</span>
				<span id="demo" class="span-margin">1 мес</span>
				<span id="demo" class="span-margin">2 мес</span>
				<span id="demo" class="span-margin">3 мес</span>
				<span id="demo" class="span-margin">4 мес</span>
				<span id="demo" class="span-margin">5 мес</span>
				<span id="demo" class="span-margin">6 мес</span>
				<span id="demo" class="span-margin">1 год</span>

			</div>
			<button type="submit" class="btn btn-primary min-margin-top">Применить</button>
		</form>
	</div>



	<div id="myChart2" style="width:100%; max-width:1200px; height:600px;"></div>
	<hr />


<script>


	google.charts.load('current', { packages: ['corechart'] });
	google.charts.setOnLoadCallback(drawChart2);

	function drawChart2() {
		// Set Data
		const data = google.visualization.arrayToDataTable([
			['День', 'Количество'], @arrAsStr
				]);

		// Set Options
		const options = {
			title: 'Динамика производства',
			hAxis: {
				title: 'рабочие дни c @ViewData["StartDate"] по @ViewData["EndDate"]',
			},
			vAxis: { title: 'Количество светильников(шт)' },
			legend: 'none',
			pointSize: 6,
			pointShape: 'circle'
		};

		// Draw
		const chart = new google.visualization.LineChart(document.getElementById('myChart2'));
		chart.draw(data, options);
	}

</script>
</div>



